@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  height: 980px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: red;
  color: white;
}

header h1 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

header h2 {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: red;
}

header div {
  position:absolute;
  top:10px;
  left:10px;
}

nav {
  margin: 0;
  padding: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}


a {
  text-decoration: none;
  color: red;
}
a:hover, a:hover div {
  color: #f7f302;
}
a div {
  text-align:center;
  color:#05D;
  width:280px
}
header a {
  color:#fff
}
#content {
  padding: 30px;
}

footer {
  width: 940px;
  height: 20px;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: red;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Actions */

.actions {
  margin-bottom: 1em;
}


/* Lists */

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr td {
  border: 1px solid #999999;
  padding:5px
}

table.list tr th {
  border: 2px solid red;
  background: red;
  color: white;
  text-align: left;
  padding:5px
}

/* Forms */

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: bold;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}
